
DatabaseProjectTestDB.sqlproj.user
obj/Debug/DatabaseProjectTestDB.dll
obj/Debug/DatabaseProjectTestDB.pdb
obj/Debug/DatabaseProjectTestDB.sqlproj.FileListAbsolute.txt
obj/Debug/DatabaseProjectTestDB.sqlprojAssemblyReference.cache
DatabaseProjectTestDB.jfm
DatabaseProjectTestDB.dbmdl
bin/Debug/DatabaseProjectTestDB.pdb
bin/Debug/DatabaseProjectTestDB.dll
bin/Debug/DatabaseProjectTestDB.dacpac
.vs/DatabaseProjectTestDB/v16/.suo
